*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 1666px;
    height: 6800px;
    border: 1px solid red;
    position: relative;
    margin: 0 auto;
}
.header{
    width: 1666px;
    height: 1302px;
    border: 1px ;
    margin: 0 auto;
}
.nav{
    width: 1666px;
    height: 63px;
    border: 1px ;
    margin: 0 auto;
    display: flex;
    background-color: rgba(217, 217, 217, 0.887);
    position: sticky;
    top: 0;
}
.nav__img{
    position: relative;
    top: 7px;
    left: 21px;
    width: 47px;
    height: 43px;
}
.nav__ul{
    display: flex;
    gap: 58px;
    align-items: center;
    position: relative;
    left: 89px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}
.ul__li__img{
    width: 54px;
    height: 53px;
}
.header__nav2{
    width: 1666px;
    height: 1239px;
    border: 1px ;
    font-family: "Inknut Antiqua", serif;
}
.header__nav2__img{
    width: 437.32px;
    height: 519.07px;
    position: relative;
    top: 142px;
    left: 614px;
}
.header__nav2__h1{
    position: relative;
    top: 200px;
    left: 673px;
    font-size: 50px;
    font-weight: 200;
}
.header__nav2__h2{
    position: relative;
    top: 200px;
    left: 447px;
    font-size: 50px;
    font-weight: 100;
}
.header__nav__button{
    width: 380px;
    height: 128px;
    border: 7px solid rgba(67, 152, 252, 1);
    border-radius: 70px;
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 45px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    top: 270px;
    left: 635px;
}
.header__nav__button:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}


.section{
    height: 4668px;
    width: 1666px;
    border: 1px;
    margin: 0 auto;
    font-family: "Inknut Antiqua", serif;
    margin-top: -70px;
}
.section__nav{
    width: 1666px;
    height: 729px;
    border: 1px ;
    background: url(img/image\ 1.png);
    background-color: black;
}
.section__nav__h1{
    color: white;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    top: -5px;
    left: 726px;
}
.section__nav__h3{
    color: white;
    font-size: 35px;
    font-weight: 400;
    position: relative;
    top: -30px;
    left: 524px;
}
.section__nav__h4{
    color: white;
    font-size: 35px;
    font-weight: 400;
    position: relative;
    top: -60px;
    left: 560px;
}
.section__nav__button1{
    width: 341px;
    height: 67px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    position: relative;
    top: 20px;
    left: 427px;
}
.section__nav__button1:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav__button1 p{
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    top: -10px;
}
.section__nav__button2{
    width: 398px;
    height: 67px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    position: relative;
    top: 20px;
    left: 487px;
}
.section__nav__button2:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav__button2 p{
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    top: -10px;
}
.section__nav2{
    width: 1666px;
    height: 869px;
    border: 1px ;
    background-color: rgba(14, 14, 14, 1);
    position: relative;
    top: 36px;
}
.section__nav2__img{
    position: relative;
    top: 8px;
    left: 166px;
}
.section__nav2__button1{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 476px;
}
.section__nav2__button1:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav2__button2{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 631px;
}
.section__nav2__button2:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav3{
    width: 924px;
    height: 790px;
    border: 1px ;
}
.section__nav3__img{
    width: 924px;
    height: 790px;
}
.section__nav3__img2{
    width: 66px;
    height: 66px;
    position: relative;
    top: 15px;
    left: -10px;
}
.section__nav3 p{
    font-size: 30px;
    position: relative;
    top: -20px;
    left: 272px;
}
.section__nav3__button1{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 166px;
}
.section__nav3__button1:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav3__button2{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 257px;
}
.section__nav3__button2:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav4__img{
    width: 750px;
    height: 718px;
    position: relative;
    top: -755px;
    left: 915px;
    border: 1px ;
}
.section__nav4__img2{
    width: 66px;
    height: 66px;
    position: relative;
    top: 15px;
    left: -10px;
}
.section__nav4 p{
    font-size: 30px;
    position: relative;
    top: -770px;
    left: 1150px;
}
.section__nav4__button1{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 946px;
    top: -715px;
}
.section__nav4__button1:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav4__button2{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 1017px;
    top: -715px;
}
.section__nav4__button2:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}

.section__nav5__img{
    width: 900px;
    height: 922px;
    border: 1px;
    position: relative;
    top: -675px;
}
.section__nav5__img2{
    width: 66px;
    height: 66px;
    position: relative;
    top: 15px;
    left: -10px;
}
.section__nav5 p{
    font-size: 30px;
    position: relative;
    top: -680px;
    left: 405px;
}
.section__nav5__button1{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 166px;
    top: -682px;
}
.section__nav5__button1:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav5__button2{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 266px;
    top: -682px;
}
.section__nav5__button2:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav6{
    position: relative;
    top: -1113px;
    left: 872px;
}
.section__nav6__img{
    width: 794px;
    height: 634px;
    border: 1px;
    position: relative;
    top: -675px;
}
.section__nav6__img2{
    width: 66px;
    height: 66px;
    position: relative;
    top: 15px;
    left: -10px;
}
.section__nav6 p{
    font-size: 30px;
    position: relative;
    top: -680px;
    left: 255px;
}
.section__nav6__button1{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 76px;
    top: -682px;
}
.section__nav6__button1:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav6__button2{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 176px;
    top: -682px;
}
.section__nav6__button2:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}

.section__nav7{
    position: relative;
    top: -793px;
    
}
.section__nav7__img{
    width: 852px;
    height: 526px;
    border: 1px;
    position: relative;
    top: -675px;
}
.section__nav7__img2{
    width: 66px;
    height: 66px;
    position: relative;
    top: 15px;
    left: -10px;
}
.section__nav7 p{
    font-size: 30px;
    position: relative;
    top: -680px;
    left: 385px;
}
.section__nav7__button1{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 126px;
    top: -682px;
}
.section__nav7__button1:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav7__button2{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 226px;
    top: -682px;
}
.section__nav7__button2:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav8{
    position: relative;
    top: -1510px;
    left: 852px;
}
.section__nav8__img{
    width: 796px;
    height: 251px;
    border: 1px;
    position: relative;
    top: -675px;
}
.section__nav8__img2{
    width: 66px;
    height: 66px;
    position: relative;
    top: 15px;
    left: -10px;
}
.section__nav8 p{
    font-size: 30px;
    position: relative;
    top: -680px;
    left: 305px;
}
.section__nav8__button1{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 86px;
    top: -682px;
}
.section__nav8__button1:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}
.section__nav8__button2{
    width: 279px;
    height: 85px;
    border-radius: 70px;
    border: 5px solid rgba(67, 152, 252, 1);
    background-color: white;
    color: rgba(67, 152, 252, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: "Inknut Antiqua", serif;
    position: relative;
    left: 176px;
    top: -682px;
}
.section__nav8__button2:hover{
    background-color: rgba(67, 152, 252, 1);
    color: white;
}

.footer__nav{
    width: 1630px;
    height: 416px;
    border: 1px;
}
.footer__nav p{
    font-size: 20px;
    font-weight: 200;
    font-family: "Inknut Antiqua", serif;
}
.footer__nav2{
    width: 1565px;
    height: 415px;
    border: 1px;
}
.footer__nav2 ul{
    font-size: 20px;
    font-weight: 200;
    font-family: "Inknut Antiqua", serif;
}